
@{ ViewData["Title"] = "About Us";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<!--About Us Page-->
<h1>About Us</h1>
<p> Fushion is an online brand among everyone who loves fashion. </p>
<p> Buy all types of latest in trend clothes, accesories in our store and get it delievred to your door. </p>