
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>
<p> Fushion is a brand among people who loves fashion. </p>
<p> Buy all types of latesh in trend clothes accesories on our store. </p>