@{
    ViewData["Title"] = "Fishion";
}

<div class="text-center">
    <h1 class="display-4">Fushion</h1>
    <p><h4>  Fushion is all about fashion.</h4></p>
    <p> If you are struggling to fing the best fits for your oulet make sure to check out our <a href="Categories.cshtml">Categories Section.</p>
    <p><h5> Subscribe to our channel for weekly update on our new latest items and to never miss out on dedals...</h5></p>
</div>
